name: headphones_detection
description: A Flutter plugin to detect headphones connection status on Android and iOS devices.
version: 1.1.0
homepage: https://github.com/alxmoroz/flutter_headphones_detection
repository: https://github.com/alxmoroz/flutter_headphones_detection
issue_tracker: https://github.com/alxmoroz/headphones_detection_flutter/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: team.moroz.headphones_detection_plugin
        pluginClass: AudioRoutePlugin
      ios:
        pluginClass: HeadphonesDetectionPlugin
